
/* ==UserStyle==
@name           Anime Wallpaper (Google)
@namespace      github.com/openstyles/stylus
@version        2026.10.3
@description    Anime wallpapers for Google and Google Translate (Sword Art Online, Demon Slayer, Attack on Titan, Overlord, Date A Live, High-Rise Invasion, B: The Beginning, Goblin Slayer, The Seven Deadly Sins, No Game No Life, Fullmetal Alchemist)
@author         Enzo

@advanced dropdown CustBG "Google Homepage Background" {
SAO "Sword Art Online" <<<EOT /*[[CustBG-SAO]]*\/ EOT;
DS "Demon Slayer" <<<EOT /*[[CustBG-DS]]*\/ EOT;
AOT "Attack on Titan" <<<EOT /*[[CustBG-AOT]]*\/ EOT;
OL "Overlord" <<<EOT /*[[CustBG-OL]]*\/ EOT;
DAL "Date A Live" <<<EOT /*[[CustBG-DAL]]*\/ EOT;
HRI "High-Rise Invasion" <<<EOT /*[[CustBG-HRI]]*\/ EOT;
BTB "B: The Beginning" <<<EOT /*[[CustBG-BTB]]*\/ EOT;
GS "Goblin Slayer" <<<EOT /*[[CustBG-GS]]*\/ EOT;
TSDS "The Seven Deadly Sins" <<<EOT /*[[CustBG-TSDS]]*\/ EOT;
NGNL "No Game No Life" <<<EOT /*[[CustBG-NGNL]]*\/ EOT;
FA "Fullmetal Alchemist" <<<EOT /*[[CustBG-FA]]*\/ EOT;
OTH "Other" <<<EOT /*[[CustBG-OTH]]*\/ EOT;

}

@advanced dropdown CustBG-SAO "Sword Art Online" {
SAO1 "Kirito" <<<EOT https://wallpaper.dog/large/10739825.jpg EOT;
SAO2 "Kirito 2" <<<EOT https://images6.alphacoders.com/676/676681.jpg EOT;
SAO3 "Kirito 3" <<<EOT https://wallpaper.dog/large/578460.jpg EOT;
SAO4 "Sword Art Online 1" <<<EOT https://animethief.files.wordpress.com/2014/10/sword-art-online-wallpaper-1920x1080-7.jpg EOT;
SAO5 "Sword Art Online 2" <<<EOT https://images4.alphacoders.com/640/thumb-1920-640956.jpg EOT;
SAO6 "Kirito + Asuna" <<<EOT https://i.pinimg.com/originals/a6/d9/6b/a6d96b1e585781865bc6b4fe8d97a50f.jpg EOT;
SAO7 "SAO Alicization Lycoris" <<<EOT https://images5.alphacoders.com/103/thumb-1920-1039493.jpg EOT;
}

@advanced dropdown CustBG-DS "Demon Slayer" {
DS1 "Demon Slayer" <<<EOT https://wallpaperaccess.com/full/1099445.png EOT;
DS2 "Demon Slayer 2" <<<EOT https://steamuserimages-a.akamaihd.net/ugc/1792974219414422498/CAE511BEEA191EA0700CCF536D00980B459CAADC/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false EOT;
DS3 "Demon Slayer 3" <<<EOT https://wallpapers.com/images/featured/vy37autfo82jvft7.jpg EOT;
DS4 "Demon Slayer 4" <<<EOT https://cdn.wallpapersafari.com/64/29/OtZGi4.jpg EOT;
DS5 "Demon Slayer 5" <<<EOT http://m.gettywallpapers.com/wp-content/uploads/2021/08/Demon-Slayer-4k-Wallpaper.png EOT;
DS6 "Demon Slayer 6" <<<EOT https://images2.alphacoders.com/100/1007550.jpg EOT;
}

@advanced dropdown CustBG-AOT "Attack on Titan" {
AOT1 "Attack on Titan" <<<EOT https://i.pinimg.com/originals/7a/0d/c2/7a0dc24f568b81a39ba1ce797f65d355.jpg EOT;
AOT2 "Attack on Titan 2" <<<EOT https://wallpaperaccess.com/full/36626.jpg EOT;
AOT3 "Attack on Titan 3" <<<EOT https://wallpapers.com/images/hd/eren-red-feathers-taw13m9hwblytb1v.jpg EOT;
AOT4 "Attack on Titan 4" <<<EOT https://mobimg.b-cdn.net/v3/fetch/8a/8a91754a1a9480d101ae522bb6e9eb27.jpeg EOT;
AOT5 "Attack on Titan 5" <<<EOT https://cdn.wallpapersafari.com/55/61/C4pyTu.jpg EOT;
AOT6 "Attack on Titan 6" <<<EOT https://cdnb.artstation.com/p/assets/images/images/049/132/167/large/laurenzi_designs-aot-no-smoke.jpg?1651762040 EOT;
}

@advanced dropdown CustBG-OL "Overlord" {
OL1 "Overlord" <<<EOT https://images6.alphacoders.com/934/934015.jpg EOT;
OL2 "Overlord 2" <<<EOT https://i.pinimg.com/originals/96/90/30/96903092bd9b7294fe0a0fddb06aed4b.jpg EOT;
OL3 "Overlord 3" <<<EOT https://c.wallhere.com/photos/5c/78/Albedo_OverLord_Overlord_anime_cleavage_dress_white_dress_horns_wings_Black_wings-1244327.jpg!d EOT;
OL4 "Overlord 4" <<<EOT https://i.pinimg.com/originals/9a/2c/a0/9a2ca0225feea9980ecf07978b9a8b1d.jpg EOT;
OL5 "Overlord 5" <<<EOT https://wallpapers.com/images/hd/cool-overlord-ainz-ooal-gown-and-crew-hd-sqvrpmaqwkpgxgsk.jpg EOT;
OL6 "Overlord 6" <<<EOT https://img4.goodfon.com/wallpaper/nbig/7/d1/art-anime-overlord-albedo-devushka-krylia-roga-peria.jpg EOT;
}

@advanced dropdown CustBG-DAL "Date A Live" {
DAL1 "Date A Live" <<<EOT https://i.pinimg.com/originals/c0/f3/2e/c0f32e68866c5bf9ff1c76c8e51b3089.jpg EOT;
DAL2 "Date A Live 2" <<<EOT https://wallpapers.com/images/hd/date-a-live-q1gun8tx5n1wsihj.jpg EOT;
DAL3 "Date A Live 3" <<<EOT https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b1e0ce93-41da-4415-ba44-2a7172a6f58a/d7uxyz7-c1f2a8de-f932-4631-9557-d9885ee860e5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IxZTBjZTkzLTQxZGEtNDQxNS1iYTQ0LTJhNzE3MmE2ZjU4YVwvZDd1eHl6Ny1jMWYyYThkZS1mOTMyLTQ2MzEtOTU1Ny1kOTg4NWVlODYwZTUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rC_4Y6l5trxtFfbP01y2w5eT5TYt1g_U_8_cUqhutKA EOT;
DAL4 "Date A Live 4" <<<EOT https://rare-gallery.com/uploads/posts/1015281-anime-Date-A-Live-Yatogami-Tohka-screenshot-mecha-computer-wallpaper.jpg EOT;
DAL5 "Date A Live 5" <<<EOT https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/18025597-b0ae-4a3d-bd24-a847e83a96c2/d81o666-f3c7a155-f6fb-44bf-9468-f33f2f65c4f1.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE4MDI1NTk3LWIwYWUtNGEzZC1iZDI0LWE4NDdlODNhOTZjMlwvZDgxbzY2Ni1mM2M3YTE1NS1mNmZiLTQ0YmYtOTQ2OC1mMzNmMmY2NWM0ZjEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.2Dsq4VM6ZIkNbikkqyLfuvvGLvPML0PcjI03PL319ZQ EOT;
DAL6 "Date A Live 6" <<<EOT https://cdn.wallpapersafari.com/73/38/eajGy5.png EOT;
}

@advanced dropdown CustBG-HRI "High-Rise Invasion" {
HRI1 "High-Rise Invasion" <<<EOT https://images6.alphacoders.com/114/thumb-1920-1149029.jpg EOT;
HRI2 "High-Rise Invasion 2" <<<EOT https://wallpapers.com/images/featured/ptz48b9fa8z2sjdz.jpg EOT;
HRI3 "High-Rise Invasion 3" <<<EOT https://i.pinimg.com/originals/04/21/94/04219466894aef915a12b63135be5046.jpg EOT;
HRI4 "High-Rise Invasion 4" <<<EOT https://images8.alphacoders.com/118/thumb-1920-1184364.jpg EOT;
HRI5 "High-Rise Invasion 5" <<<EOT https://wallpapers.com/images/hd/high-rise-invasion-great-angel-5ud5kfdr9dd7tl6q.jpg EOT;
HRI6 "High-Rise Invasion 6" <<<EOT https://wallpaperaccess.com/full/5588047.jpg EOT;
HRI7 "High-Rise Invasion 7" <<<EOT https://wallpapers.com/images/hd/high-rise-invasion-mask-yuri-and-rika-nz4m8vckd2e58txg.jpg EOT;
HRI8 "High-Rise Invasion 8" <<<EOT https://crops.giga.de/89/43/6b/ddbf6da0cf3788194ef769d8f6_YyAyMzY2eDEzMzErNzcrNDICcmUgMTkyMCAxMDgwAzgzZGZhZjg5Zjlm.jpg EOT;
}

@advanced dropdown CustBG-BTB "B: The Beginning" {
BTB1 "B: The Beginning" <<<EOT https://assets1.ignimgs.com/2018/03/05/bthebeginning-blogroll-2-1520285243662_160w.jpg?width=1280 EOT;
BTB2 "B: The Beginning 2" <<<EOT https://rare-gallery.com/mocahbig/434806-anime-B-the-beginning-anime-boys.jpg EOT;
BTB3 "B: The Beginning 3" <<<EOT https://static.wikia.nocookie.net/b-the-beginning/images/5/5f/B-The-Beginning-Season-2.jpg/revision/latest?cb=20210405151444 EOT;
BTB4 "B: The Beginning 4" <<<EOT https://m.media-amazon.com/images/I/91Nfgm07gZL._RI_.jpg EOT;
BTB5 "B: The Beginning 5" <<<EOT https://rare-gallery.com/mocahbig/434811-anime-B-the-beginning-anime-men.jpg EOT;
BTB6 "B: The Beginning 6" <<<EOT https://rare-gallery.com/mocahbig/434807-anime-B-the-beginning-anime-boys.jpg EOT;
}

@advanced dropdown CustBG-GS "Goblin Slayer" {
GS1 "Goblin Slayer" <<<EOT https://images8.alphacoders.com/985/985196.png EOT;
GS2 "Goblin Slayer 2" <<<EOT https://i.pinimg.com/originals/f0/19/bd/f019bda13e9bf3d723e632df1d5c7892.jpg EOT;
GS3 "Goblin Slayer 3" <<<EOT https://rare-gallery.com/uploads/posts/252665-high-elf-archer-3840x2160.jpg EOT;
GS4 "Goblin Slayer 4" <<<EOT https://img5.goodfon.com/wallpaper/nbig/c/d1/goblin-slayer-devochka-belyi-fon.jpg EOT;
GS5 "Goblin Slayer 5" <<<EOT https://img5.goodfon.com/wallpaper/nbig/e/1f/goblin-slayer-devushka-paren-posokh.jpg EOT;
GS6 "Goblin Slayer 6" <<<EOT https://c4.wallpaperflare.com/wallpaper/109/649/212/anime-goblin-slayer-wallpaper-preview.jpg EOT;
}

@advanced dropdown CustBG-TSDS "The Seven Deadly Sins" {
TSDS1 "The Seven Deadly Sins" <<<EOT https://rare-gallery.com/mocahbig/397164-wallpaper-the-seven-deadly-sins-dragons-judgement.jpg EOT;
TSDS2 "The Seven Deadly Sins 2" <<<EOT https://wallpapers.com/images/featured/nhhfddtmqub0hqsj.jpg EOT;
TSDS3 "The Seven Deadly Sins 3" <<<EOT https://www.pixelstalk.net/wp-content/uploads/images6/Seven-Deadly-Sins-Wallpaper-Desktop.jpg EOT;
TSDS4 "The Seven Deadly Sins 4" <<<EOT https://img5.goodfon.com/wallpaper/nbig/f/30/nanatsu-no-taizai-sem-smertnykh-grekhov-druzia-taverna.jpg EOT;
TSDS5 "The Seven Deadly Sins 5" <<<EOT https://cdn.wallpapersafari.com/23/97/ExyQZz.jpg EOT;
TSDS6 "The Seven Deadly Sins 6" <<<EOT https://i.pinimg.com/1200x/0c/63/ed/0c63ed3d8d8087557f20387dda75c6fc.jpg EOT;
}

@advanced dropdown CustBG-NGNL "No Game No Life" {
NGNL1 "No Game No Life" <<<EOT https://images6.alphacoders.com/512/thumb-1920-512323.jpg EOT;
NGNL2 "No Game No Life 2" <<<EOT https://images6.alphacoders.com/512/512322.jpg EOT;
NGNL3 "No Game No Life 3" <<<EOT https://images3.alphacoders.com/819/819294.png EOT;
NGNL4 "No Game No Life 4" <<<EOT https://i.pinimg.com/originals/0f/25/f6/0f25f6756f73d2dc89cf25060141aaa7.png EOT;
NGNL5 "No Game No Life 5" <<<EOT https://images7.alphacoders.com/740/thumb-1920-740377.png EOT;
NGNL6 "No Game No Life 6" <<<EOT https://moewalls.com/wp-content/uploads/2021/12/jibril-no-game-no-life-thumb.jpg EOT;
}

@advanced dropdown CustBG-FA "Fullmetal Alchemist" {
FA1 "Fullmetal Alchemist" <<<EOT https://wallpapers.com/images/featured/0tvvnvos36llm4yx.jpg EOT;
FA2 "Fullmetal Alchemist 2" <<<EOT https://images7.alphacoders.com/862/thumb-1920-862106.jpg EOT;
FA3 "Fullmetal Alchemist 3" <<<EOT https://i.pinimg.com/originals/96/ed/90/96ed9043a53223ea6477a333b120d23e.jpg EOT;
FA4 "Fullmetal Alchemist 4" <<<EOT https://images3.alphacoders.com/108/108065.jpg EOT;
FA5 "Fullmetal Alchemist 5" <<<EOT https://wallpaperaccess.com/full/1084967.jpg EOT;
FA6 "Fullmetal Alchemist 6" <<<EOT https://images7.alphacoders.com/141/thumb-1920-1412471.png EOT;
}

@advanced dropdown CustBG-OTH "Other" {
OTH1 "Matrix" <<<EOT https://cdn.wallpapersafari.com/71/76/C7xIbw.gif EOT;
OTH2 "Tron" <<<EOT https://wallpapercave.com/wp/wp2760959.gif EOT;
OTH3 "Pixel City" <<<EOT https://wallpaperaccess.com/full/2825826.gif EOT;
OTH4 "Pixel City ROG" <<<EOT https://wallpaperaccess.com/full/4492167.gif EOT;
}
==/UserStyle== */


@-moz-document url-prefix("https://www.google.") {
    /* Panel */
    .RNNXgb,
    .lJ9FBc input[type="submit"],
    .gbqfba,
    .aajZCb,
    .cF4V5c,
    .bErdLd.hFCnyd .NJfJb,
    .minidiv .sfbg,
    .CbAZb,
    .Lj9fsd.DU1Mzb,
    .TGGJzf,
    .Ix6LGe,
    .BlOseb.ESkzqb g-fab,
    .k2Oeod.ESkzqb g-fab,
    .iMxNAc,
    .d3swN,
    .exp-button,
    .BlOseb.GSVoDf g-fab,
    .k2Oeod.GSVoDf g-fab,
    .w0BoZe,
    .pla-hovercard-container,
    .wr8GYd,
    .CBPSbf,
    .JgfpDb .w8utCe,
    #rhs .ss6qqb.u7yw9 a.hisnlb,
    .e7RZX,
    .z3dsh,
    .czHJJ,
    .ea0Lbe,
    .VSIspc,
    .fiEaaf,
    .zaokob,
    .w6a6Ae.w6a6Ae:not(:disabled),
    .HbiE4d,
    .LJLoQe,
    .h7Tj7e {
        background: linear-gradient(135deg, #0000004f, #00000069) !important;
        backdrop-filter: blur(30px);
        border: 1px solid rgba(86, 88, 105, 0.28) !important;
        box-shadow: 0px 0px 18px #00000078;
        transition: all 0.25s;
        opacity: 0.8;
    }

    /* Button */
    .XpqX9,
    .ZkkK1e.ZkkK1e,
    .tGy3df,
    .x2GJWb .niO4u,
    .WZNUrc,
    .VCOFK,
    .IvmSse,
    .MXl0lf,
    .kyas6e,
    .rx7XFb,
    .JgfpDb .legCh,
    .h3L8Ub .yMAEcf,
    .ZFiwCf,
    .WZH4jc .GNJvt,
    .NtaMpb .niO4u,
    .cv2VAd,
    .ab_button,
    a.ab_button:visited,
    .gnKFJd .wt9ZDd,
    .Gfzyee.jREHUb,
    .Gfzyee.jREHUb .fSXkBc,
    .Gfzyee.sgivpd,
    a.tGS0Nc,
    a:visited.tGS0Nc,
    .zqrO0 .niO4u,
    .gIYJUc,
    .cB9M7,
    .Qwbd3,
    .hDFaN .ZAxeoe,
    .FR7ZSc .niO4u,
    #rhs .MXl0lf,
    .YbqTTb,
    .U8shWc.hpZDWd,
    .IVvPP a.B1uW2d,
    .Jb0Zif a.B1uW2d,
    .r6m5bb,
    .wob_ds,
    .ZZ7G7b,
    .Lj9fsd.DU1Mzb .o6juZc,
    .ss6qqb .Jk5Tjc,
    .tw-lliw:hover,
    .j1iyq,
    .gt-is-itm,
    .tw-lp-search,
    .zItAnd,
    .zItAnd:link,
    .zItAnd:visited,
    .zItAnd:hover,
    .zItAnd:active {
        background-color: #ffffff12;
        border-radius: 2em;
        border: 1px solid #ffffff12;
        transition: all 0.25s;
    }

    .XpqX9:hover,
    .ZkkK1e.ZkkK1e:hover,
    .tGy3df:hover,
    .WZNUrc:hover,
    .VCOFK:hover,
    .IvmSse:hover,
    .MXl0lf:hover,
    .rx7XFb:hover,
    .JgfpDb .legCh:hover,
    .h3L8Ub .yMAEcf:hover,
    .ZFiwCf:hover,
    .WZH4jc .GNJvt:hover,
    .NtaMpb .niO4u:hover,
    .ab_button:hover,
    a.ab_button:visited:hover,
    .Gfzyee.jREHUb:hover,
    .Gfzyee.jREHUb .fSXkBc:hover,
    .Gfzyee.sgivpd:hover,
    a.tGS0Nc:hover,
    a:visited.tGS0Nc:hover,
    .zqrO0 .niO4u:hover,
    .Qwbd3:hover,
    .OcgH4b .PNCib.fT6ABc::after,
    .hDFaN .ZAxeoe:hover,
    .IDVnvc:hover,
    .FR7ZSc .niO4u:hover,
    #rhs .MXl0lf:hover,
    .U8shWc.hpZDWd:hover,
    .IVvPP a.B1uW2d:hover,
    .Jb0Zif a.B1uW2d:hover,
    .r6m5bb:hover,
    .wob_ds:hover,
    .ZZ7G7b:hover,
    .ss6qqb .Jk5Tjc:hover,
    .j1iyq:hover,
    .gt-is-itm:hover,
    .tw-lp-search:hover {
        background: #ffffff29;
    }

    .yJaSJ,
    .xlY4q.tClzdc,
    .giC0O,
    .x2GJWb .QuU3Wb,
    .x2GJWb .niO4u,
    .wr8GYd,
    .z1asCe svg,
    .JgfpDb .K8E1Be,
    a.tGS0Nc,
    a:visited.tGS0Nc,
    .Qwbd3,
    .Qwbd3Hover,
    .eFSWxd .clOx1e,
    .hhB0V,
    .w6a6Ae.w6a6Ae.tN4Gf .jA3abb,
    .FR7ZSc .QuU3Wb {
        color: #ffffff52;
    }

    .h5JSWd,
    .DZ13He,
    .tonYlb,
    .AgWCw,
    .wp3sz,
    .w5hRs,
    .gb_R,
    #SBmmZd,
    .zGVn2e,
    .dnNgC,
    .gb_2d,
    .Fgyi2e,
    #gbwa,
    .gb_z,
    .eQtdDf,
    .m5Qfy{
        background: linear-gradient(135deg, #0000004f, #00000069) !important;
        backdrop-filter: blur(30px);
        border: 1px solid rgba(86, 88, 105, 0.28) !important;
        border-radius: 2em;
        transition: all 0.25s;
        opacity: 0.8;
    }
    
    .Ww4FFb,
    div#botstuff{
        background: linear-gradient(135deg, #0000004f, #00000069) !important;
        backdrop-filter: blur(30px);
        border: 1px solid rgba(86, 88, 105, 0.28) !important;
        transition: all 0.25s;
        opacity: 0.8;
    }

    .nPDzT {
        backdrop-filter: blur(30px);
        transition: all 0.25s;
        opacity: 0.7;
    }

    .SvoXfb {
        background: #1a1a1a;
        backdrop-filter: blur(30px);
        opacity: 0.8;
    }

    

    .zLSRge,
    .O3yKUb{
        border: hidden;
    }

    .R1QWuf {
        color: #ffffff61;
    }

    .RDmXvc:not(.PI50Je) {
        margin-left: unset;
        padding-left: unset;
    }

    .T14B5e input[type="submit"],
    .gbqfba,
    .ho072b,
    .ONx74b,
    .UTNPFf,
    .bLgP0e,
    #fbar,
    .As6eLe,
    .H3y5ab {
        background-color: #00000096;
        opacity: 0.7;
    }

    
    .w5hRs:hover,
    .T14B5e input[type="submit"]:hover,
    .gbqfba:hover,
    .gb_R:hover {
        background-color: #00000096;
        border-radius: 2em;
    }

    
    .ONx74b:hover,
    .UTNPFf:hover {
        background-color: #000;
    }

    .CTOaxb,
    .qEn1od {
        background-color: #0000;
        opacity: 0.7;
    }

    .iMxNAc,
    .d3swN {
        color: #fff0;
    }

    .e9EfHf,
    .WE0UJf,
    .yg51vc,
    .sfbg,
    .tF2Cxc.asEBEc,
    .xk611b,
    .Ij8KCd {
        background: #fff0;
    }

    .lJ9FBc input[type="submit"],
    .gbqfba,
    .minidiv .sfbg,
    .lnXdpd,
    .czHJJ,
    .Zze5V {
        border-radius: 2em;
    }

    div#gb {
        background: transparent !important;
    }

    .gb_ua.gb_3d,
    .dG2XIf,
    .sx8gIb,
    .kLhEKe,
    .gb_Ca.gb_2d {
        background: transparent !important;
    }

    .c93Gbe,
    .Ne6nSd,
    .xk611b {
        height: 48px;
        border-left: none !important;
        border-right: none !important;
    }

    .c93Gbe {
        background: linear-gradient(0deg, #0000, transparent);
    }

    .Ne6nSd {
        background: linear-gradient(180deg, #0000, transparent);
    }

    .gb_Fc a.gb_j,
    .gb_Fc span.gb_j,
    a.MV3Tnb,
    .pHiOh,
    a.pHiOh,
    .aajZCb {
        color: #ffffff69;
    }

    .WggQGd {
        color: #fff !important;
    }

    .xtSCL {
        visibility: hidden !important;
    }

    .S4EObe .exaJlc,
    .S4EObe.YrVNK,
    .S4EObe.zFtmEd,
    .f6F9Be,
    .rsGxI.Ww4FFb,
    .rqTuzc,
    .FalWJb,
    .JgfpDb.cZEg1e,
    .JgfpDb .cZEg1e,
    .KcXNxb,
    .language_list_languages.tw-ll-top::after,
    .ulWL4d {
        background: rgba(0, 0, 0, 0);
    }

    .sb27 {
        background: url(https://i.imgur.com/UMIaQqh.png) no-repeat 0 -21px;
        background-size: 20px;
    }

    .sbct:hover,
    .sbhl,
    .cF4V5c g-menu-item:hover {
        background: #ffffff17;
    }

    .sbct,
    .cF4V5c g-menu-item {
        transition: background 0.075s;
    }

    @keyframes SlideInTop2 {
        0% {
            margin-left: -1250px;
        }

        100% {
            margin-left: 0px;
        }

    }

    @keyframes FadeInOp {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    @keyframes BlurIn {
        0% {
            filter: blur(30px);
            scale: 190%;
        }

        100% {
            filter: blur(0px);
            scale: 100%;
        }

    }

    @keyframes bgChanger {
        0% {
            background-image: url("/*[[CustBG-SAO]]*/");
        }

        25% {
            background-image: url("/*[[CustBG-DS]]*/");
        }

        50% {
            background-image: url("/*[[CustBG-AOT]]*/");
        }

        75% {
            background-image: url("/*[[CustBG-OL]]*/");
        }

        100% {
            background-image: url("/*[[CustBG-DAL]]*/");
        }

    }

    .GyAeWb,
    .hlcw0c {
        animation-name: SlideInTop2;
        animation-duration: 0.9s;
        animation-iteration-count: 1;
    }

    .bRMDJf {
        animation-name: BlurIn;
        animation-duration: 0.75s;
        animation-iteration-count: 1;
    }

    .rHLoR {
        border-radius: 2em;
    }

    html {
        background: url("/*[[CustBG]]*/");
        background-size: cover !important;
        background-attachment: fixed !important;
        background-position: center center !important;
    }

    body {
        background: transparent !important;
    }

    #mngb,
    #lga,
    #appbar,
    .appbar,
    .sfbg,
    .I6TXqe,
    .TQc1id,
    #most-visited {
        background: none !important;
    }

    *[class*="background"] {
        background: none !important;
    }

    .I6TXqe,
    .center_col {
        background: linear-gradient(135deg, #0000004f, #00000069) !important;
        backdrop-filter: blur(30px);
        opacity: 0.9;
    }

    .sfbgx {
        background: none !important;
        border-bottom: none !important;
    }

    form#tsf,
    form#searchform {
        background: none !important;
    }

    .sfbgg {
        background-color: rgba(255, 255, 255, 0.4);
    }

    .sfbg .sfbgg,
    .rfiSsc,
    .F9Idpe,
    .Sl6fgd,
    .UUbT9,
    #gsr {
        background: none !important;
    }

    #hdtb.notl div {
        background: none !important;
    }

    c-wiz,
    .JXv70c {
        background: none !important;
    }

    .Fh5muf,
    .gDIH3 {
        background-color: transparent;
    }

    .UVZlkc {
        background-color: rgba(255, 255, 255, 0.6);
    }

    #nav-menu-wrapper,
    .story {
        background-color: rgba(255, 255, 255, 0.6);
    }

}

@-moz-document url-prefix("https://translate.google.com/") {
    html,
    .gb_Ra, .gb_ab, .gb_Zd {
        background: none !important;
    }

    body {
        background-image: url("/*[[CustBG]]*/");
        background-size: cover !important;
        background-attachment: fixed !important;
        background-position: center center !important;
    }

    .gb_1c,
    .gb_5c,
    .gb_rd {
        background: rgba(0, 0, 0, .26) !important;
    }

    .gb_3c {
        background-color: #ffffff52;
        border-radius: 2em;
    }

    .ccvoYb,
    .dOQF4b,
    .k5v5Nb,
    .CLKk4c,
    .gb_Ta,
    .gb_K,
    .gb_cb,
    .gb_1d{
        background: linear-gradient(135deg, #00000082, #000000b3) !important;
        backdrop-filter: blur(30px);
        border-radius: 2em;
        border: 1px solid rgba(86, 88, 105, 0.28) !important;
        box-shadow: 0px 0px 18px #00000078;
        transition: all 0.25s;
        opacity: 0.7;
    }

    .VfPpkd-LgbsSe-OWXEXe-INsAgc.VfPpkd-LgbsSe-OWXEXe-Bz112c-M1Soyc,
    .gb_2d {
        background: linear-gradient(135deg, #0000004f, #00000069) !important;
        backdrop-filter: blur(30px);
        border-radius: 2em;
        border: 1px solid rgba(86, 88, 105, 0.28) !important;
        transition: all 0.25s;
        opacity: 0.8;
    }

    .ySES5 {
        backdrop-filter: blur(30px);
        opacity: 0.7;
    }

    .ySES5:hover {
        background: #5d5d5d;
    }

    .mqNsCe,
    .ngPqIc,
    .f8F5Dd {
        background: #5d5d5d;
        backdrop-filter: blur(30px);
        opacity: 0.7;
        color: white;
    }

    .P9b1Bc {
        background-color: #000;
    }

    c-wiz c-wiz c-wiz > div > div > c-wiz > div > c-wiz > div > div > div {
        background: unset !important;
    }

    nav::after,
    c-wiz c-wiz c-wiz > div > div > c-wiz > div > c-wiz > div > div::after,
    .X4DQ0::after {
        background: transparent !important;
    }

    c-wiz > div > div > c-wiz > div > c-wiz > div > div > div > c-wiz > span > span[soy-skip] > div > div:nth-of-type(3) {
        z-index: 1;
    }

    c-wiz > div > div > c-wiz > div > c-wiz > div > div > div > c-wiz > span > span[soy-skip] > div > div:nth-of-type(3):empty {
        z-index: unset;
    }

    c-wiz > div > div > c-wiz > div > c-wiz > div > div > div > c-wiz > span > span[soy-skip] > div > div > span:last-child,
    c-wiz c-wiz c-wiz c-wiz > div > div > div > div > span > span > span:hover,
    button:hover > span:last-of-type:not(.vk-cap),
    [data-language-code]:hover,
    .FwR7Pc {
        background-color: #00000040 !important;
        color: #fff !important;
    }

    .FwR7Pc[aria-selected=true] > * {
        background-color: #727272;
        color: #fff;
    }

    c-wiz > div > div > c-wiz > div > c-wiz > div > div > c-wiz > div > c-wiz > div > div > div > div > div > span > button > span > span,
    nav button span,
    button:hover span:not(.vk-cap),
    c-wiz c-wiz c-wiz c-wiz h3 > span,
    .WtlSJf :not(svg),
    .l7O9Dc :not(i:first-child),
    .j7bWb,
    .Ufn6O input[type=url],
    .VfPpkd-jY41G-V67aGc,
    .yP8PRe {
        color: #888 !important;
    }

    [data-alternative-index]:hover {
        background-color: rgba(241, 243, 244, .15);
    }

    [data-alternative-index]:hover * {
        background-color: unset !important;
        color: green !important;
    }

    .L780X::after {
        background-color: blue;
    }

    .WtlSJf.KKjvXb {
        background-color: rgba(232, 240, 254, 0.2);
    }

}
